.create-btn {
  background-color: white;
  color: #009688;
  height: 40px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 40px;
}

th {
  font-weight: bolder !important;
}

.row-1 {
  height: 70px;
}

th {
  color: #009688;
}

.main-content {
  margin-top: 60px !important;
}

::ng-deep .mat-snack-bar-container {
  background: linear-gradient(60deg, #e8f1ee, #ffffff) !important;
  color: #009688 !important;
  font-weight: bold;
}

::ng-deep .mat-simple-snackbar-action {
  color: black !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  opacity: 0;
  height: 1px;
  background: #009688;
}

.btn-action {
  color: #009688 !important;
}

.box {
  height: 40px;
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  align-items: center;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 10px 25px rgba($color: #01534b, $alpha: 0.3);
}

.box:hover input {
  width: 100%;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

input {
  color: #009688;
}

.box a .material-icons {
  color: #009688;
  font-size: 18px;
}

.icon {
  padding-top: 5px;
}
