<div class="card card-1">
  <div class="card-header card-header-danger">
    <h4 class="card-title">
      Access Creation
      <button mat-icon-button mat-dialog-close class="close-btn">
        <mat-icon aria-label="Close dialog">close</mat-icon>
      </button>
    </h4>
  </div>
  <div class="card-body">
    <div class="container" [formGroup]="accessForm" *ngIf="accessForm">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 col-custom">
              <mat-form-field appearance="outline">
                <mat-label>Parent</mat-label>
                <mat-select id="parentId" formControlName="parentId">
                  <mat-option [value]="0">0</mat-option>
                  <mat-option
                    *ngFor="let access of parentAccess"
                    [value]="access.accessId"
                  >
                    {{ access.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    accessForm.get('parentId').invalid &&
                    accessForm.get('parentId').required
                  "
                >
                  Parent ID is Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 col-custom">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  id="accessId"
                  type="number"
                  placeholder="Access ID"
                  formControlName="accessId"
                />
                <mat-error
                  *ngIf="
                    accessForm.get('accessId').invalid &&
                    accessForm.get('accessId').required
                  "
                >
                  Access ID is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    accessForm.get('accessId').invalid &&
                    accessForm.get('accessId').errors.existingAccessId
                  "
                >
                  Access ID already exist!!!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 col-custom">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  id="seq"
                  type="number"
                  placeholder="Sequence"
                  formControlName="seq"
                />
                <mat-error
                  *ngIf="
                    accessForm.get('seq').invalid &&
                    accessForm.get('seq').required
                  "
                >
                  Sequence is Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 col-custom">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  id="name"
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="
                    accessForm.get('name').invalid &&
                    accessForm.get('name').required
                  "
                >
                  Access Name is Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 col-custom">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  id="systemName"
                  type="text"
                  placeholder="System Name"
                  formControlName="systemName"
                />
                <mat-error
                  *ngIf="
                    accessForm.get('systemName').invalid &&
                    accessForm.get('systemName').required
                  "
                >
                  System Name is Required
                </mat-error>
                <mat-error
                  *ngIf="
                    accessForm.get('systemName').invalid &&
                    accessForm.get('systemName').errors.existingSystemName
                  "
                >
                  System Name already exist!!!
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="submit-btn" mat-raised-button (click)="submit()">
      Submit
    </button>
  </div>
</div>
