.main-content {
  margin-top: 60px !important;
}

.card-profile,
.card-avatar {
  margin: 0px auto 0;
}

.card-custom {
  font-size: 1rem;
}

.heading {
  font-weight: bold;
}

.profile {
  margin-top: 30px;
}

.card-1 {
  min-height: 345px !important;
}

.card-title-1 {
  font-weight: bold;
  margin-bottom: 20px !important;
}

.card-profile {
  text-align: left;
}

.card-profile-1 {
  text-align: center;
}

button {
  cursor: default;
}

.list {
  font-size: 1rem;
}

.card-profile .card-avatar .img{
  min-width: 130px !important;
  max-width: 130px !important;
  min-height: 130px !important;
  max-height: 130px !important;
}
