<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body card-custom">
            <div class="row row-1">
              <div class="col-md-5 offset-md-1 heading">
                <div class="row">
                  <p>First Name:</p>
                </div>
                <div class="row">
                  <p>Last Name:</p>
                </div>
                <div class="row">
                  <p>Login ID:</p>
                </div>
                <div class="row">
                  <p>Contact:</p>
                </div>
                <div class="row">
                  <p>Email:</p>
                </div>
              </div>

              <div class="col-md-5">
                <div class="row">
                  <p>{{ user.fname }}</p>
                </div>
                <div class="row">
                  <p>{{ user.lname }}</p>
                </div>
                <div class="row">
                  <p>{{ user.loginId }}</p>
                </div>
                <div class="row">
                  <p>{{ user.contact }}</p>
                </div>
                <div class="row">
                  <p>{{ user.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 profile">
        <div class="card card-profile card-profile-1">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img
                *ngIf="isLogo"
                class="img"
                src="{{ user.logo.byte }}"
              />
              <img
                *ngIf="!isLogo"
                class="img"
                src="../../assets/img/faces/marc.jpg"
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category"></h6>
            <h4 class="card-title">{{ user.fname }} {{ user.lname }}</h4>
            <div class="card-description">
              <div class="row">
                <div
                  class="col-md-5 offset-md-1"
                  style="font-weight: bold; font-size: 1rem"
                >
                  Expiry Date:
                </div>
                <div class="col-md-5">{{ user.expDate }}</div>
              </div>
              <div class="row">
                <div
                  class="col-md-5 offset-md-1"
                  style="font-weight: bold; font-size: 1rem; padding-top: 2.5%"
                >
                  Status:
                </div>
                <div class="col-md-5">
                  <ng-container [ngSwitch]="user.status">
                    <button class="btn btn-success btn-sm" *ngSwitchCase="1">
                      Active
                    </button>
                    <button class="btn btn-danger btn-sm" *ngSwitchCase="0">
                      Deactive
                    </button>
                    <button class="btn btn-secondary btn-sm" *ngSwitchCase="3">
                      Suspended
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-body">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <h4 class="card-title card-title-1">Access List</h4>
              </div>
            </div>
            <div class="row">
              <h6
                *ngFor="let access of accessList"
                class="col-md-5 offset-md-1"
              >
                <li *ngIf="access">{{ access.name }}</li>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-body">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <h4 class="card-title card-title-1">Feature List</h4>
              </div>
            </div>
            <div class="row">
              <h6
                *ngFor="let feature of featureList"
                class="col-md-5 offset-md-1"
              >
                <li *ngIf="feature">{{ feature.name }}</li>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
