<div class="card card-1">
  <div class="card-header card-header-danger">
    <h4 class="card-title">
      Feature Details
      <button mat-icon-button mat-dialog-close class="close-btn">
        <mat-icon aria-label="Close dialog">close</mat-icon>
      </button>
    </h4>
  </div>
  <div class="row">
    <ng-container *ngFor="let feature of featureName">
      <div class="col-md-10 offset-md-1 justify-content-center">
        <mat-checkbox checked disabled>
          {{ feature }}
        </mat-checkbox>
      </div>
    </ng-container>
  </div>
</div>
