<div class="card card-1">
  <div class="card-header card-header-danger">
    <h4 class="card-title">{{ title }}</h4>
    <button mat-icon-button mat-dialog-close class="close-btn">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </div>

  <mat-tab-group
    #tabGroup
    [dynamicHeight]="false"
    mat-align-tabs="center"
    (selectedTabChange)="onTabChanged($event)"
  >
    <mat-tab
      label="Basic Information"
      [formGroup]="userForm1"
      *ngIf="userForm1"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <div class="row">
              <div class="col-md-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    id="user_fname"
                    type="text"
                    placeholder="First Name"
                    formControlName="user_fname"
                    [matTooltip]="getErrorMessage1('user_fname')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('user_fname').invalid &&
                      userForm1.get('user_fname').errors.required
                    "
                  >
                    First Name is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('user_fname').invalid &&
                      userForm1.get('user_fname').errors.minlength
                    "
                  >
                    First Name should be at least 4 characters long
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('user_fname').invalid &&
                      userForm1.get('user_fname').errors.maxlength
                    "
                  >
                    First Name should not exceed 20 characters
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    type="tel"
                    id="mobile"
                    placeholder="Mobile Number"
                    formControlName="mobile"
                    [matTooltip]="getErrorMessage1('mobile')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('mobile').invalid &&
                      userForm1.get('mobile').errors.required
                    "
                  >
                    Mobile Number is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('mobile').invalid &&
                      (userForm1.get('mobile').errors.minlength ||
                        userForm1.get('mobile').errors.maxlength)
                    "
                  >
                    Mobile Number should be of 10-digits
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('mobile').invalid &&
                      userForm1.get('mobile').errors.pattern
                    "
                  >
                    Mobile Number should only contain digits
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-custom">
                <mat-form-field>
                  <mat-label> Expiry Date</mat-label>
                  <input
                    matInput
                    id="acc_exp_date"
                    [matDatepicker]="picker"
                    formControlName="acc_exp_date"
                    [matTooltip]="getErrorMessage1('acc_exp_date')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    id="date-btn"
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="
                      userForm1.get('acc_exp_date').invalid &&
                      userForm1.get('acc_exp_date').errors.required
                    "
                  >
                    Expiry Date is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('acc_exp_date').invalid &&
                      userForm1.get('acc_exp_date').errors.mismatch
                    "
                  >
                    Expiry Date should not be in the past
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    id="login_id"
                    type="text"
                    placeholder="Login ID"
                    formControlName="login_id"
                    [matTooltip]="getErrorMessage1('login_id')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('login_id').invalid &&
                      userForm1.get('login_id').errors.required
                    "
                  >
                    Login ID is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('login_id').invalid &&
                      userForm1.get('login_id').errors.minlength
                    "
                  >
                    Login ID should be at least 6 characters long
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('login_id').invalid &&
                      userForm1.get('login_id').errors.maxlength
                    "
                  >
                    Login ID should not exceed 20 characters
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    id="user_lname"
                    placeholder="Last Name"
                    formControlName="user_lname"
                    [matTooltip]="getErrorMessage1('user_lname')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('user_lname').invalid &&
                      userForm1.get('user_lname').errors.required
                    "
                  >
                    Last Name is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('user_lname').invalid &&
                      userForm1.get('user_lname').errors.minlength
                    "
                  >
                    Last Name should be at least 4 characters long
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('user_lname').invalid &&
                      userForm1.get('user_lname').errors.maxlength
                    "
                  >
                    Last Name should not exceed 20 characters
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    id="email"
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    [matTooltip]="getErrorMessage1('email')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('email').invalid &&
                      userForm1.get('email').errors.required
                    "
                  >
                    Email is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('email').invalid &&
                      userForm1.get('email').errors.email
                    "
                  >
                    Invalid Email
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center align-items-center">
              <ng-container *ngIf="checkImg()">
                <div class="photo-container">
                  <img
                    [src]="photoUrl"
                    style="border-radius: 50%"
                    alt="selected logo"
                    height="150px"
                    width="150px"
                  />
                  <mat-icon class="btn-close" (click)="onPhotoDeselected()">
                    close
                  </mat-icon>
                </div>
              </ng-container>
              <ng-container *ngIf="!checkImg()"
                ><img
                  src="../../assets/img/user_profile.png"
                  style="border-radius: 50%"
                  alt="selected logo"
                  height="150px"
                  width="150px"
              /></ng-container>
            </div>

            <div class="row justify-content-center align-items-center">
              <input
                #fileInput
                type="file"
                accept="image/*"
                (change)="onPhotoSelected($event)"
                formControlName="logo"
              />
              <button
                class="btn btn-sm btn-photo"
                id="logo"
                (click)="fileInput.click()"
              >
                Select a Logo
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab
      label="Security"
      [formGroup]="userForm2"
      *ngIf="userForm2"
      [disabled]="userForm1.invalid"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                id="password"
                [type]="hide ? 'password' : 'text'"
                placeholder="Password"
                formControlName="password"
                [(ngModel)]="password"
                [matTooltip]="getErrorMessage2('password')"
                matTooltipClass="tooltip-style"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  userForm2.get('password').invalid &&
                  userForm2.get('password').errors.required
                "
              >
                Password is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm2.get('password').invalid &&
                  userForm2.get('password').errors.minlength
                "
              >
                Password should be at least characters long
              </mat-error>
              <mat-error
                *ngIf="
                  userForm2.get('password').invalid &&
                  userForm2.get('password').errors.maxlength
                "
              >
                Password should not exceed 20 characters
              </mat-error>
              <mat-error *ngIf="userForm2.get('password').invalid">
                Password must contain at least one capital letter, one small
                letter, one digit, and one special character
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <input
                matInput
                id="confirm_password"
                [type]="hide2 ? 'password' : 'text'"
                placeholder="Confirm Password"
                formControlName="confirm_password"
                [matTooltip]="getErrorMessage2('confirm_password')"
                matTooltipClass="tooltip-style"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide2 = !hide2"
                [attr.aria-label]="hide2 ? 'Show password' : 'Hide password'"
              >
                <mat-icon>{{
                  hide2 ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-label class="label">Select the Access Permissions</mat-label>
          </div>
        </div>

        <section class="feature-section">
          <div class="grid-container">
            <div *ngFor="let topAccess of topLevelAccess1" class="grid-item">
              <mat-checkbox
                [value]="topAccess.accessId"
                (change)="toggleAccessId(topAccess, $event.checked)"
              >
                {{ topAccess.name }}
              </mat-checkbox>
              <div
                class="grid-item-content"
                *ngIf="selectedAccessId.includes(topAccess.accessId)"
              >
                <div *ngFor="let access of accessData">
                  <mat-checkbox
                    *ngIf="
                      topAccess.accessId === access.pId && access.pId !== 0
                    "
                    [value]="access.accessId"
                    (change)="toggleAccessId(access, $event.checked)"
                    [checked]="false"
                  >
                    {{ access.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-container">
            <div *ngFor="let topAccess of topLevelAccess2" class="grid-item">
              <mat-checkbox
                [value]="topAccess.accessId"
                (change)="toggleAccessId(topAccess, $event.checked)"
              >
                {{ topAccess.name }}
              </mat-checkbox>
              <div
                class="grid-item-content"
                *ngIf="selectedAccessId.includes(topAccess.accessId)"
              >
                <div *ngFor="let access of accessData">
                  <mat-checkbox
                    *ngIf="
                      topAccess.accessId === access.pId && access.pId !== 0
                    "
                    [value]="access.accessId"
                    (change)="toggleAccessId(access, $event.checked)"
                    [checked]="false"
                  >
                    {{ access.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>

    <mat-tab
      label="Settings"
      [formGroup]="userForm3"
      *ngIf="userForm3"
      [disabled]="userForm1.invalid || userForm2.invalid"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                id="max_sessions"
                type="number"
                placeholder="Maximum Active Sessions"
                formControlName="max_active_sessions"
                [matTooltip]="getErrorMessage3('max_active_sessions')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm3.get('max_active_sessions').invalid &&
                  userForm3.get('max_active_sessions').errors.required
                "
                >Max Active Sessions is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm3.get('max_active_sessions').invalid &&
                  userForm3.get('max_active_sessions').errors.min
                "
                >Max Active Sessions should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <input
                matInput
                id="max_duration"
                type="number"
                placeholder="Maximum Duration (in Minutes)"
                formControlName="max_duration"
                [matTooltip]="getErrorMessage3('max_duration')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm3.get('max_duration').invalid &&
                  userForm3.get('max_duration').errors.required
                "
              >
                Max Duration is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm3.get('max_duration').invalid &&
                  userForm3.get('max_duration').errors.min
                "
                >Max Durations should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                type="number"
                id="max_participants"
                placeholder="Maximum Participants"
                formControlName="max_participants"
                [matTooltip]="getErrorMessage3('max_participants')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm3.get('max_participants').invalid &&
                  userForm3.get('max_participants').errors.required
                "
              >
                Max Participants is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm3.get('max_participants').invalid &&
                  userForm3.get('max_participants').errors.min
                "
                >Max Participants should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab
      label="Feature List"
      [formGroup]="userForm4"
      *ngIf="userForm4"
      [disabled]="userForm1.invalid || userForm2.invalid || userForm3.invalid"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-label class="label">Select the Features:</mat-label>
          </div>
        </div>

        <section class="feature-section">
          <div class="grid-container">
            <div
              *ngFor="let feature of featuresData1"
              class="grid-item"
              id="feature{{ feature.featureId }}"
              [ngClass]="{
                expanded: selectedFeatures.includes(feature.featureId)
              }"
            >
              <mat-checkbox
                [value]="feature.featureId"
                (change)="toggleFeatureSelection(feature)"
              >
                {{ feature.name }}
              </mat-checkbox>

              <div
                class="grid-item-content"
                *ngIf="selectedFeatures.includes(feature.featureId)"
              >
                <div *ngFor="let meta of feature.metaList">
                  <ng-container [ngSwitch]="meta.type">
                    <mat-slide-toggle
                      *ngSwitchCase="'bool'"
                      (change)="
                        setMetaValue(
                          feature.featureId,
                          meta.key,
                          $event.checked
                        )
                      "
                    >
                      {{ meta.name }}
                    </mat-slide-toggle>

                    <div
                      *ngSwitchCase="'file'"
                      style="
                        display: flex;
                        align-items: baseline;
                        flex-direction: row;
                      "
                    >
                      <label
                        class="btn btn-sm btn-photo"
                        for="{{ meta.key }}{{ feature.featureId }}"
                      >
                        Upload Video
                      </label>
                      <input
                        type="file"
                        id="{{ meta.key }}{{ feature.featureId }}"
                        name="{{ meta.key }}{{ feature.featureId }}"
                        accept="video/*"
                        (change)="
                          onFileInputChange($event, meta, feature.featureId)
                        "
                      />
                      <h6
                        *ngIf="videoSelected(feature.featureId)"
                        style="margin-left: 10px"
                      >
                        {{ videoSelect[feature.featureId] }}
                      </h6>
                    </div>

                    <mat-form-field *ngSwitchCase="'text'">
                      <input
                        matInput
                        #metaValue
                        type="text"
                        placeholder="{{ meta.name }}"
                        (change)="
                          setMetaValue(
                            feature.featureId,
                            meta.key,
                            metaValue.value
                          )
                        "
                      />
                    </mat-form-field>

                    <ng-container *ngSwitchCase="'radio'">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                      >
                        <mat-radio-button
                          class="example-radio-button"
                          *ngFor="let name of meta.name"
                          [value]="name"
                        >
                          {{ name }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-container">
            <div
              *ngFor="let feature of featuresData2"
              class="grid-item"
              id="feature{{ feature.featureId }}"
              [ngClass]="{
                expanded: selectedFeatures.includes(feature.featureId)
              }"
            >
              <mat-checkbox
                [value]="feature.featureId"
                (change)="toggleFeatureSelection(feature)"
              >
                {{ feature.name }}
              </mat-checkbox>

              <div
                class="grid-item-content"
                *ngIf="selectedFeatures.includes(feature.featureId)"
              >
                <div *ngFor="let meta of feature.metaList">
                  <ng-container [ngSwitch]="meta.type">
                    <mat-slide-toggle
                      *ngSwitchCase="'bool'"
                      (change)="
                        setMetaValue(
                          feature.featureId,
                          meta.key,
                          $event.checked
                        )
                      "
                    >
                      {{ meta.name }}
                    </mat-slide-toggle>

                    <div
                      *ngSwitchCase="'file'"
                      style="
                        display: flex;
                        align-items: baseline;
                        flex-direction: row;
                      "
                    >
                      <label
                        class="btn btn-sm btn-photo"
                        for="{{ meta.key }}{{ feature.featureId }}"
                      >
                        Upload Video
                      </label>
                      <input
                        type="file"
                        id="{{ meta.key }}{{ feature.featureId }}"
                        name="{{ meta.key }}{{ feature.featureId }}"
                        accept="video/*"
                        (change)="
                          onFileInputChange($event, meta, feature.featureId)
                        "
                      />
                      <h6
                        *ngIf="videoSelected(feature.featureId)"
                        style="margin-left: 10px"
                      >
                        {{ videoSelect[feature.featureId] }}
                      </h6>
                    </div>

                    <mat-form-field *ngSwitchCase="'text'">
                      <input
                        matInput
                        #metaValue
                        type="text"
                        placeholder="{{ meta.name }}"
                        (change)="
                          setMetaValue(
                            feature.featureId,
                            meta.key,
                            metaValue.value
                          )
                        "
                      />
                    </mat-form-field>

                    <ng-container *ngSwitchCase="'radio'">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                      >
                        <mat-radio-button
                          class="example-radio-button"
                          *ngFor="let name of meta.name"
                          [value]="name"
                        >
                          {{ name }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="row" *ngIf="emptyField">
          <div class="col-md-6 offset-md-3 text-center">
            <p class="alert alert-danger">
              <strong>All fields are mandatory</strong>
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions align="end" class="actions">
    <button
      *ngIf="!isFirstTab()"
      class="prev-btn"
      mat-raised-button
      (click)="previous()"
    >
      <mat-icon>navigate_before</mat-icon> Previous
    </button>
    <button
      *ngIf="!isLastTab()"
      class="btn-1"
      mat-raised-button
      (click)="next()"
    >
      Next<mat-icon>navigate_next</mat-icon>
    </button>
    <button
      *ngIf="isLastTab()"
      class="submit-btn"
      mat-raised-button
      (click)="submit()"
    >
      Submit
    </button>
  </div>
</div>
