<nav>
  <div class="logo">
    <a href="#"><img src="assets/mcarbonlogo3.png" alt="Logo" /></a>
  </div>
  
</nav>

<div class="bodydiv">
  
  

<div class="image-container">
  <img src="assets/mcarbonsupport.jpg" alt="Image" />
</div>

<div class="text-container">
     <p class="name">Hello, <label>{{username}}</label></p>
     <div class="btn-container">
    <button class="vcbtn" (click)="joinVCCall()">Video Call</button>
    <button class="phbtn" (click)="joinPhCall()">Phone Call</button>
    </div>
</div>



</div>
