<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-6 align-self-center">
                <button
                  class="create-btn"
                  mat-raised-button
                  (click)="createDialog()"
                >
                  <mat-icon>add</mat-icon>Create
                </button>
              </div>
              <div class="col-4 offset-2 align-self-center">
                <div class="box">
                  <input
                    type="text"
                    placeholder="Search..."
                    matInput
                    (keyup)="searchData($event)"
                    #input
                  />
                  <a href="javascript:void(0)" class="icon">
                    <i>
                      <mat-icon class="material-icons">search</mat-icon>
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table"
                mat-table
                matSort
                [dataSource]="dataSourceWithPageSize"
                #sort="matSort"
              >
                <ng-container matColumnDef="accessId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Access ID
                  </th>
                  <td mat-cell *matCellDef="let access">
                    {{ access.accessId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let access">
                    {{ access.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="pId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Parent ID
                  </th>
                  <td mat-cell *matCellDef="let access">
                    {{ access.pId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="seq">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Sequence
                  </th>
                  <td mat-cell *matCellDef="let access">
                    {{ access.seq }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="systemName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    System Name
                  </th>
                  <td mat-cell *matCellDef="let access">
                    {{ access.systemName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let access">
                    <ng-container [ngSwitch]="access.status">
                      <button class="btn btn-danger btn-sm" *ngSwitchCase="0">
                        Deactive
                      </button>
                      <button class="btn btn-success btn-sm" *ngSwitchCase="1">
                        Active
                      </button>
                      <button class="btn btn-dark btn-sm" *ngSwitchCase="2">
                        Deleted
                      </button>
                      <button
                        class="btn btn-secondary btn-sm"
                        *ngSwitchCase="3"
                      >
                        Expired
                      </button>
                    </ng-container>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                  <th
                    class="header name-column"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    Action
                  </th>
                  <td mat-cell *matCellDef="let access">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="after">
                      <button
                        class="btn-action"
                        id="view"
                        mat-menu-item
                        (click)="viewAccessDialog(access)"
                      >
                        <mat-icon style="color: #009688"
                          >remove_red_eye</mat-icon
                        >
                        <span>View</span>
                      </button>
                      <button
                        class="btn-action"
                        id="edit"
                        mat-menu-item
                        (click)="updateAccess(access)"
                        *ngIf="access.status !== 2"
                      >
                        <mat-icon style="color: #009688">edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button
                        class="btn-action"
                        id="delete"
                        mat-menu-item
                        (click)="deleteAccess(access.accessId)"
                        *ngIf="access.status !== 2"
                      >
                        <mat-icon style="color: #009688"
                          >delete_outline</mat-icon
                        >
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let access; columns: displayedColumns"
                ></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="6">
                    No data matching the filter "{{ input.value }}"
                  </td>
                </tr>
              </table>
              <mat-paginator
                #paginator
                [pageSizeOptions]="pageSizes"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
