<div class="card card-1">
  <div class="card-header card-header-danger">
    <h4 class="card-title">
      {{ title }}
      <button mat-icon-button mat-dialog-close class="close-btn">
        <mat-icon aria-label="Close dialog">close</mat-icon>
      </button>
    </h4>
  </div>

  <mat-tab-group
    #tabGroup
    [dynamicHeight]="false"
    mat-align-tabs="center"
    (selectedTabChange)="onTabChanged($event)"
  >
    <mat-tab label="Account" [formGroup]="userForm1" *ngIf="userForm1">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <div class="row">
              <div class="col-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    id="name"
                    placeholder="Name"
                    formControlName="name"
                    [matTooltip]="getErrorMessage1('name')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('name').invalid &&
                      userForm1.get('name').errors.required
                    "
                  >
                    Name is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('name').invalid &&
                      userForm1.get('name').errors.minlength
                    "
                  >
                    Name should be at least 4 characters long
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('name').invalid &&
                      userForm1.get('name').errors.maxlength
                    "
                  >
                    Name should not exceed 20 characters
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    id="max_user"
                    type="number"
                    placeholder="Max User"
                    formControlName="max_user"
                    [matTooltip]="getErrorMessage1('max_user')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-error
                    *ngIf="
                      userForm1.get('max_user').invalid &&
                      userForm1.get('max_user').errors.required
                    "
                  >
                    Max User is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('max_user').invalid &&
                      userForm1.get('max_user').errors.min
                    "
                  >
                    Max User should be 0 or greater
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-custom">
                <mat-form-field>
                  <mat-label>Account Expiry Date</mat-label>
                  <input
                    matInput
                    id="acc_exp_date"
                    [matDatepicker]="picker"
                    formControlName="acc_exp_date"
                    [matTooltip]="getErrorMessage1('acc_exp_date')"
                    matTooltipClass="tooltip-style"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    id="date-btn"
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="
                      userForm1.get('acc_exp_date').invalid &&
                      userForm1.get('acc_exp_date').errors.required
                    "
                  >
                    Account Expiry Date is required
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm1.get('acc_exp_date').invalid &&
                      userForm1.get('acc_exp_date').errors.mismatch
                    "
                  >
                    Account Expiry Date should not be in the past
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="row justify-content-center align-items-center">
              <ng-container *ngIf="checkImg()">
                <div class="photo-container">
                  <img
                    [src]="photoUrl"
                    style="border-radius: 50%"
                    alt="selected logo"
                    height="150px"
                    width="150px"
                  />
                  <mat-icon class="btn-close" (click)="onPhotoDeselected()">
                    close
                  </mat-icon>
                </div>
              </ng-container>
              <ng-container *ngIf="!checkImg()"
                ><img
                  src="../../assets/img/user_profile.png"
                  style="border-radius: 50%"
                  alt="selected logo"
                  height="150px"
                  width="150px"
              /></ng-container>
            </div>

            <div class="row justify-content-center align-items-center">
              <input
                #fileInput
                type="file"
                accept="image/*"
                (change)="onPhotoSelected($event)"
                formControlName="logo"
              />
              <button
                class="btn btn-sm btn-photo"
                id="logo-btn"
                (click)="fileInput.click()"
              >
                Select a Logo
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-form-field>
              <input
                matInput
                type="text"
                id="address"
                placeholder="Address"
                formControlName="address"
                [matTooltip]="getErrorMessage1('address')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm1.get('address').invalid &&
                  userForm1.get('address').errors.required
                "
              >
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Account Settings" [formGroup]="userForm2" *ngIf="userForm2">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                id="max_sessions"
                type="number"
                placeholder="Maximum Active Sessions"
                formControlName="max_active_sessions"
                [matTooltip]="getErrorMessage2('max_active_sessions')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm2.get('max_active_sessions').invalid &&
                  userForm2.get('max_active_sessions').errors.required
                "
                >Max Active Sessions is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm2.get('max_active_sessions').invalid &&
                  userForm2.get('max_active_sessions').errors.min
                "
                >Max Active Sessions should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <input
                matInput
                id="max_duration"
                type="number"
                placeholder="Maximum Duration (in Minutes)"
                formControlName="max_duration"
                [matTooltip]="getErrorMessage2('max_duration')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm2.get('max_duration').invalid &&
                  userForm2.get('max_duration').errors.required
                "
              >
                Max Duration is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm2.get('max_duration').invalid &&
                  userForm2.get('max_duration').errors.min
                "
                >Max Durations should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                type="number"
                id="max_participants"
                placeholder="Maximum Participants"
                formControlName="max_participants"
                [matTooltip]="getErrorMessage2('max_participants')"
                matTooltipClass="tooltip-style"
              />
              <mat-error
                *ngIf="
                  userForm2.get('max_participants').invalid &&
                  userForm2.get('max_participants').errors.required
                "
              >
                Max Participants is required
              </mat-error>
              <mat-error
                *ngIf="
                  userForm2.get('max_participants').invalid &&
                  userForm2.get('max_participants').errors.min
                "
                >Max Participants should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-label class="label">Select the Access Permissions:</mat-label>
          </div>
        </div>

        <section class="feature-section">
          <div class="grid-container">
            <div *ngFor="let topAccess of topLevelAccess1" class="grid-item">
              <mat-checkbox
                [value]="topAccess.accessId"
                (change)="toggleAccessId(topAccess, $event.checked)"
                [checked]="isCheckAccess(topAccess)"
              >
                {{ topAccess.name }}
              </mat-checkbox>
              <div
                class="grid-item-content"
                *ngIf="selectedAccessId.includes(topAccess.accessId)"
              >
                <div *ngFor="let access of accessData">
                  <mat-checkbox
                    *ngIf="
                      topAccess.accessId === access.pId && access.pId !== 0
                    "
                    [value]="access.accessId"
                    (change)="toggleAccessId(access, $event.checked)"
                    [checked]="isCheckAccess(access)"
                  >
                    {{ access.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div *ngFor="let topAccess of topLevelAccess2" class="grid-item">
              <mat-checkbox
                [value]="topAccess.accessId"
                (change)="toggleAccessId(topAccess, $event.checked)"
                [checked]="isCheckAccess(topAccess)"
              >
                {{ topAccess.name }}
              </mat-checkbox>
              <div
                class="grid-item-content"
                *ngIf="selectedAccessId.includes(topAccess.accessId)"
              >
                <div *ngFor="let access of accessData">
                  <mat-checkbox
                    *ngIf="
                      topAccess.accessId === access.pId && access.pId !== 0
                    "
                    [value]="access.accessId"
                    (change)="toggleAccessId(access, $event.checked)"
                    [checked]="isCheckAccess(access)"
                  >
                    {{ access.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>

    <mat-tab label="Feature List" [formGroup]="userForm3" *ngIf="userForm3">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-label class="label">Select the Features:</mat-label>
          </div>
        </div>

        <section class="feature-section">
          <div class="grid-container">
            <div
              *ngFor="let feature of featuresData1"
              class="grid-item"
              id="feature{{ feature.featureId }}"
              [ngClass]="{
                expanded: selectedFeatures.includes(feature.featureId)
              }"
            >
              <mat-checkbox
                [value]="feature.featureId"
                [checked]="isCheckFeature(feature)"
                (change)="toggleFeatureSelection(feature)"
              >
                {{ feature.name }}
              </mat-checkbox>

              <div
                class="grid-item-content"
                *ngIf="
                  (selectedFeatures.includes(feature.featureId) ||
                    isCheckFeature(feature)) &&
                  selectedFeaturesMeta[feature.featureId]
                "
              >
                <div *ngFor="let meta of feature.metaList">
                  <ng-container [ngSwitch]="meta.type">
                    <mat-slide-toggle
                      checked="{{
                        selectedFeaturesMeta[feature.featureId][meta.key]
                      }}"
                      *ngSwitchCase="'bool'"
                      (change)="
                        setMetaValue(
                          feature.featureId,
                          meta.key,
                          $event.checked
                        )
                      "
                    >
                      {{ meta.name }}
                    </mat-slide-toggle>

                    <div
                      *ngSwitchCase="'file'"
                      style="
                        display: flex;
                        align-items: baseline;
                        flex-direction: row;
                      "
                    >
                      <label
                        class="btn btn-sm btn-photo"
                        for="{{ meta.key }}{{ feature.featureId }}"
                      >
                        Upload Video
                      </label>
                      <input
                        type="file"
                        id="{{ meta.key }}{{ feature.featureId }}"
                        name="{{ meta.key }}{{ feature.featureId }}"
                        accept="video/*"
                        (change)="
                          onFileInputChange($event, meta, feature.featureId)
                        "
                      />
                      <h6
                        *ngIf="videoSelected(feature.featureId)"
                        style="margin-left: 10px"
                      >
                        {{ videoSelect[feature.featureId] }}
                      </h6>
                    </div>

                    <mat-form-field *ngSwitchCase="'text'">
                      <input
                        value="{{
                          selectedFeaturesMeta[feature.featureId][meta.key]
                        }}"
                        matInput
                        #metaValue
                        type="text"
                        placeholder="{{ meta.name }}"
                        (change)="
                          setMetaValue(
                            feature.featureId,
                            meta.key,
                            metaValue.value
                          )
                        "
                      />
                    </mat-form-field>

                    <ng-container *ngSwitchCase="'radio'">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [value]="
                          selectedFeaturesMeta[feature.featureId][meta.key]
                        "
                      >
                        <mat-radio-button
                          class="example-radio-button"
                          *ngFor="let name of meta.name"
                          [value]="name"
                        >
                          {{ name }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-container">
            <div
              *ngFor="let feature of featuresData2"
              class="grid-item"
              id="feature{{ feature.featureId }}"
              [ngClass]="{
                expanded: selectedFeatures.includes(feature.featureId)
              }"
            >
              <mat-checkbox
                [value]="feature.featureId"
                [checked]="isCheckFeature(feature)"
                (change)="toggleFeatureSelection(feature)"
              >
                {{ feature.name }}
              </mat-checkbox>

              <div
                class="grid-item-content"
                *ngIf="
                  (selectedFeatures.includes(feature.featureId) ||
                    isCheckFeature(feature)) &&
                  selectedFeaturesMeta[feature.featureId]
                "
              >
                <div *ngFor="let meta of feature.metaList">
                  <ng-container [ngSwitch]="meta.type">
                    <mat-slide-toggle
                      checked="{{
                        selectedFeaturesMeta[feature.featureId][meta.key]
                      }}"
                      *ngSwitchCase="'bool'"
                      (change)="
                        setMetaValue(
                          feature.featureId,
                          meta.key,
                          $event.checked
                        )
                      "
                    >
                      {{ meta.name }}
                    </mat-slide-toggle>

                    <div
                      *ngSwitchCase="'file'"
                      style="
                        display: flex;
                        align-items: baseline;
                        flex-direction: row;
                      "
                    >
                      <label
                        class="btn btn-sm btn-photo"
                        for="{{ meta.key }}{{ feature.featureId }}"
                      >
                        Upload Video
                      </label>
                      <input
                        type="file"
                        id="{{ meta.key }}{{ feature.featureId }}"
                        name="{{ meta.key }}{{ feature.featureId }}"
                        accept="video/*"
                        (change)="
                          onFileInputChange($event, meta, feature.featureId)
                        "
                      />
                      <h6
                        *ngIf="videoSelected(feature.featureId)"
                        style="margin-left: 10px"
                      >
                        {{ videoSelect[feature.featureId] }}
                      </h6>
                    </div>

                    <mat-form-field *ngSwitchCase="'text'">
                      <input
                        value="{{
                          selectedFeaturesMeta[feature.featureId][meta.key]
                        }}"
                        matInput
                        #metaValue
                        type="text"
                        placeholder="{{ meta.name }}"
                        (change)="
                          setMetaValue(
                            feature.featureId,
                            meta.key,
                            metaValue.value
                          )
                        "
                      />
                    </mat-form-field>

                    <ng-container *ngSwitchCase="'radio'">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [value]="
                          selectedFeaturesMeta[feature.featureId][meta.key]
                        "
                      >
                        <mat-radio-button
                          class="example-radio-button"
                          *ngFor="let name of meta.name"
                          [value]="name"
                        >
                          {{ name }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions align="end" class="actions">
    <button
      *ngIf="!isFirstTab()"
      class="prev-btn"
      mat-raised-button
      (click)="previous()"
    >
      <mat-icon>navigate_before</mat-icon> Previous
    </button>
    <button
      *ngIf="!isLastTab()"
      class="btn-1"
      mat-raised-button
      (click)="next()"
    >
      Next<mat-icon>navigate_next</mat-icon>
    </button>
    <button
      *ngIf="isLastTab()"
      class="submit-btn"
      mat-raised-button
      (click)="submit()"
    >
      Update
    </button>
  </div>
</div>
