<div class="card card-1">
  <div class="card-header card-header-danger">
    <h4 class="card-title">
      {{ title }}
      <button mat-icon-button mat-dialog-close class="close-btn">
        <mat-icon aria-label="Close dialog">close</mat-icon>
      </button>
    </h4>
  </div>

  <mat-tab-group
    #tabGroup
    [formGroup]="userForm"
    *ngIf="userForm"
    [dynamicHeight]="false"
    mat-align-tabs="center"
  >
    <mat-tab label="Account">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <div class="row">
              <div class="col-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    placeholder="Name"
                    formControlName="name"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-custom">
                <mat-form-field>
                  <input
                    matInput
                    type="number"
                    placeholder="Max User"
                    formControlName="max_user"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-custom">
                <mat-form-field>
                  <mat-label>Account Expiry Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="acc_exp_date"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-5 offset-md-1">
            <div class="row justify-content-center align-items-center">
              <img
                *ngIf="photoControl"
                [src]="photoUrl"
                style="border-radius: 50%"
                alt="selected logo"
                height="60%"
                width="60%"
              />
            </div>
            <div class="row justify-content-center align-items-center">
              <input
                #fileInput
                type="file"
                accept="image/*"
                (change)="onPhotoSelected($event)"
                formControlName="logo"
              />
              <button class="btn btn-sm btn-photo" (click)="fileInput.click()">
                Change Logo
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Address"
                formControlName="address"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Account Settings">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Maximum Active Sessions"
                formControlName="max_active_sessions"
              />
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Maximum Duration (in Minutes)"
                formControlName="max_duration"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 offset-md-1">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Maximum Participants"
                formControlName="max_participants"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-label class="label">Select the Access you want:</mat-label>
          </div>
        </div>

        <section class="feature-section">
          <div class="grid-container">
            <div *ngFor="let topAccess of topLevelAccess1" class="grid-item">
              <mat-checkbox
                [value]="topAccess.accessId"
                (change)="toggleAccessId(topAccess, $event.checked)"
                [checked]="isCheckAccess(topAccess)"
              >
                {{ topAccess.name }}
              </mat-checkbox>
              <div
                class="grid-item-content"
                *ngIf="selectedAccessId.includes(topAccess.accessId)"
              >
                <div *ngFor="let access of accessData">
                  <mat-checkbox
                    *ngIf="
                      topAccess.accessId === access.pId && access.pId !== 0
                    "
                    [value]="access.accessId"
                    (change)="toggleAccessId(access, $event.checked)"
                    [checked]="isCheckAccess(access)"
                  >
                    {{ access.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div *ngFor="let topAccess of topLevelAccess2" class="grid-item">
              <mat-checkbox
                [value]="topAccess.accessId"
                (change)="toggleAccessId(topAccess, $event.checked)"
                [checked]="isCheckAccess(topAccess)"
              >
                {{ topAccess.name }}
              </mat-checkbox>
              <div
                class="grid-item-content"
                *ngIf="selectedAccessId.includes(topAccess.accessId)"
              >
                <div *ngFor="let access of accessData">
                  <mat-checkbox
                    *ngIf="
                      topAccess.accessId === access.pId && access.pId !== 0
                    "
                    [value]="access.accessId"
                    (change)="toggleAccessId(access, $event.checked)"
                    [checked]="isCheckAccess(access)"
                  >
                    {{ access.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>

    <mat-tab label="Feature List">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-label class="label">Select the features you want:</mat-label>
          </div>
        </div>

        <section class="feature-section">
          <div class="grid-container">
            <div
              *ngFor="let feature of featuresData1"
              class="grid-item"
              id="feature{{ feature.featureId }}"
              [ngClass]="{
                expanded: selectedFeatures.includes(feature.featureId)
              }"
            >
              <mat-checkbox
                [value]="feature.featureId"
                [checked]="isCheckFeature(feature)"
                (change)="toggleFeatureSelection(feature.featureId)"
              >
                {{ feature.name }}
              </mat-checkbox>

              <div
                class="grid-item-content"
                *ngIf="
                  (selectedFeatures.includes(feature.featureId) ||
                    isCheckFeature(feature)) &&
                  selectedFeaturesMeta[feature.featureId]
                "
              >
                <div *ngFor="let meta of feature.metaList">
                  <ng-container [ngSwitch]="meta.type">
                    <mat-slide-toggle
                      checked="{{
                        selectedFeaturesMeta[feature.featureId][meta.key]
                      }}"
                      *ngSwitchCase="'bool'"
                      (change)="
                        setMetaValue(
                          feature.featureId,
                          meta.key,
                          $event.checked
                        )
                      "
                    >
                      {{ meta.name }}
                    </mat-slide-toggle>

                    <div
                      *ngSwitchCase="'file'"
                      style="
                        display: flex;
                        align-items: baseline;
                        flex-direction: row;
                      "
                    >
                      <label
                        class="btn btn-sm btn-photo"
                        for="{{ meta.key }}{{ feature.featureId }}"
                      >
                        Upload Video
                      </label>
                      <input
                        type="file"
                        id="{{ meta.key }}{{ feature.featureId }}"
                        name="{{ meta.key }}{{ feature.featureId }}"
                        accept="video/*"
                        (change)="
                          onFileInputChange($event, meta, feature.featureId)
                        "
                      />
                      <h6
                        *ngIf="videoSelected(feature.featureId)"
                        style="margin-left: 10px"
                      >
                        {{ videoSelect[feature.featureId] }}
                      </h6>
                    </div>

                    <mat-form-field *ngSwitchCase="'text'">
                      <input
                        value="{{
                          selectedFeaturesMeta[feature.featureId][meta.key]
                        }}"
                        matInput
                        #metaValue
                        type="text"
                        placeholder="{{ meta.name }}"
                        (change)="
                          setMetaValue(
                            feature.featureId,
                            meta.key,
                            metaValue.value
                          )
                        "
                      />
                    </mat-form-field>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-container">
            <div
              *ngFor="let feature of featuresData2"
              class="grid-item"
              id="feature{{ feature.featureId }}"
              [ngClass]="{
                expanded: selectedFeatures.includes(feature.featureId)
              }"
            >
              <mat-checkbox
                [value]="feature.featureId"
                [checked]="isCheckFeature(feature)"
                (change)="toggleFeatureSelection(feature.featureId)"
              >
                {{ feature.name }}
              </mat-checkbox>

              <div
                class="grid-item-content"
                *ngIf="
                  (selectedFeatures.includes(feature.featureId) ||
                    isCheckFeature(feature)) &&
                  selectedFeaturesMeta[feature.featureId]
                "
              >
                <div *ngFor="let meta of feature.metaList">
                  <ng-container [ngSwitch]="meta.type">
                    <mat-slide-toggle
                      checked="{{
                        selectedFeaturesMeta[feature.featureId][meta.key]
                      }}"
                      *ngSwitchCase="'bool'"
                      (change)="
                        setMetaValue(
                          feature.featureId,
                          meta.key,
                          $event.checked
                        )
                      "
                    >
                      {{ meta.name }}
                    </mat-slide-toggle>

                    <div
                      *ngSwitchCase="'file'"
                      style="
                        display: flex;
                        align-items: baseline;
                        flex-direction: row;
                      "
                    >
                      <label
                        class="btn btn-sm btn-photo"
                        for="{{ meta.key }}{{ feature.featureId }}"
                      >
                        Upload Video
                      </label>
                      <input
                        type="file"
                        id="{{ meta.key }}{{ feature.featureId }}"
                        name="{{ meta.key }}{{ feature.featureId }}"
                        accept="video/*"
                        (change)="
                          onFileInputChange($event, meta, feature.featureId)
                        "
                      />
                      <h6
                        *ngIf="videoSelected(feature.featureId)"
                        style="margin-left: 10px"
                      >
                        {{ videoSelect[feature.featureId] }}
                      </h6>
                    </div>

                    <mat-form-field *ngSwitchCase="'text'">
                      <input
                        value="{{
                          selectedFeaturesMeta[feature.featureId][meta.key]
                        }}"
                        matInput
                        #metaValue
                        type="text"
                        placeholder="{{ meta.name }}"
                        (change)="
                          setMetaValue(
                            feature.featureId,
                            meta.key,
                            metaValue.value
                          )
                        "
                      />
                    </mat-form-field>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions align="end" class="actions">
    <button
      *ngIf="!isFirstTab()"
      class="prev-btn"
      mat-raised-button
      (click)="previous()"
    >
      <mat-icon>navigate_before</mat-icon> Previous
    </button>
    <button
      *ngIf="!isLastTab()"
      class="btn-1"
      mat-raised-button
      (click)="next()"
    >
      Next<mat-icon>navigate_next</mat-icon>
    </button>
    <button
      *ngIf="isLastTab()"
      class="submit-btn"
      mat-raised-button
      (click)="submit()"
    >
      Update
    </button>
  </div>
</div>
