<ov-videoconference

	*ngIf="!loading && !serverError"
	[tokens]="tokens"
	[recordingActivityRecordingsList]="recordingList"
	[recordingActivityRecordingError]="recordingError"
	(onToolbarLeaveButtonClicked)="onLeaveButtonClicked()"
	(onToolbarStartRecordingClicked)="onStartRecordingClicked()"
	(onActivitiesPanelStartRecordingClicked)="onStartRecordingClicked()"
	(onToolbarStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelDeleteRecordingClicked)="onDeleteRecordingClicked($event)"
	(onNodeCrashed)="onNodeCrashed()"
	[activitiesPanelRecordingActivity]="recordingEnabled"
	[activitiesPanelBroadcastingActivity]="broadcastingEnabled"
	[toolbarRecordingButton]="recordingEnabled"
	[toolbarBroadcastingButton]="broadcastingEnabled"
	[toolbarScreenshareButton]="screenShareEnabled"
	[toolbarRecordingButton]="recordingEnabled"
	[toolbarFullscreenButton]="false"
	[toolbarBackgroundEffectsButton]="false"
	[toolbarCaptionsButton]="false"
	[toolbarSettingsButton]="true"
	[toolbarLeaveButton]="true"
	[toolbarParticipantsPanelButton]="true"
	[toolbarChatPanelButton]="chatEnabled"
	[toolbarActivitiesPanelButton]="true"
	[toolbarDisplaySessionName]="false"
	[toolbarDisplayLogo]="true"
	[activitiesPanelRecordingActivity]="true"
	[participantPanelItemMuteButton]="true"
	[recordingActivityRecordingsList]="list"
	[recordingActivityRecordingError]="error"
	[streamDisplayParticipantName]="true"
	[streamDisplayAudioDetection]="true"
	[streamSettingsButton]="true"
	[minimal]="false"
	[lang]="'es'"
	[captionsLangOptions]="[{name:'Spanish', ISO: 'es-ES'}]"
	[participantName]="participantName"
	[prejoin]="false"
	[videoMuted]="true"
	[audioMuted]="true"
	[broadcastingActivityBroadcastingError]="error"
>
</ov-videoconference>

<div *ngIf="!loading && serverError" class="error">
	<mat-icon>error</mat-icon>
	<span>
		{{ serverError }}
	</span>
</div>
