<div class="bodydiv">
  <div class="toolbar">
    <img
      src="assets/Axis_bank_New_Logo.png"
      alt=""
      width="100%"
      height="80%"
    />
  </div>
  <div class="tagline">
    <h2>Axis Bank Support <span>DilSe Open</span></h2>
  </div>

  <div class="container">
    <form (submit)="onsubmit()">
      <div class="form-group">
        <label for="username">Username or Customer ID:</label>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Enter your name" required />

        <!-- <input type="text" id="username" name="username" /> -->
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required />
        <a href="#" class="forgot-password">Forgot Password?</a>
      </div>
      <div class="form-group">
        <button type="submit" class="login-btn" >Login</button>
      </div>
    </form>
    <div class="footer">
      <a href="#">Register for an Account</a>
      <a href="#">Customer Service</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
