<div class="main-content form-content">
  <div class="container-fluid">
    <div class="row section-1">
      <div class="col-md-12">
        <div class="row card card-body card-body-1">
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="text"
                value="Untitled Form"
                placeholder="Form Name"
              />
            </mat-form-field>
          </div>
          <div
            class="col-md-2 offset-md-1"
            cdkDropList
            (cdkDropListDropped)="onQuestionDrop($event)"
          >
            <div
              class="question-box"
              [cdkDragDisabled]="questionDisable"
              cdkDragBoundary="#question-div"
              cdkDrag
            >
              Question
            </div>
          </div>
          <div
            class="col-md-2 offset-md-1"
            cdkDropList
            (cdkDropListDropped)="onAnswerDrop($event)"
          >
            <div
              class="answer-box"
              [cdkDragDisabled]="answerDisable"
              cdkDrag
              cdkDragBoundary="#answer-div"
            >
              Answer
            </div>
          </div>
        </div>
        <div class="row card card-body question-body">
          <div class="" id="question-div" cdkDropList></div>
        </div>
        <div class="row card card-body answer-body" *ngIf="questionDisable">
          <div class="" id="answer-div" cdkDropList></div>
        </div>
      </div>
    </div>
    <div class="row section-2">
      <div class="col-md-12">
        <div class="card card-body question-tab"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-danger">Cancel</button>
    <button class="btn btn-success" (click)="saveQuestion()">Save</button>
  </div>
</div>
