<div class="row">
  <div class="col-md-8">
    <mat-form-field>
      <mat-label>Question</mat-label>
      <input matInput type="text" placeholder="Write a question" />
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedValue" (selectionChange)="onTypeChange($event)">
        <mat-select-trigger>
          {{ selectedValue }}
        </mat-select-trigger>
        <mat-option *ngFor="let type of types" [value]="type"
          ><mat-icon matPrefix>{{ type.icon }}</mat-icon
          >{{ type.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
