<div class="container q-container" [formGroup]="questionForm">
  <div class="row">
    <div class="col-md-1 ques-no ques-id">Q {{ this.questionId + 1 }}</div>
    <div class="col-md-8">
      <div class="ques">
        <mat-form-field>
          <mat-label>Question</mat-label>
          <input
            matInput
            type="text"
            placeholder="Write a question"
            formControlName="question"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3 ques-no">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select
          [(value)]="selectedValue"
          (selectionChange)="onTypeChange($event)"
          formCOntrolName="type"
        >
          <mat-select-trigger class="select-trigger">
            <mat-icon class="select-icon">{{ selectedValue.icon }}</mat-icon>
            {{ selectedValue.name }}
          </mat-select-trigger>
          <mat-option *ngFor="let type of types" [value]="type"
            ><mat-icon matPrefix>{{ type.icon }}</mat-icon
            >{{ type.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
